<div ng-include="'partials/navbar'"></div>

<div class="main-content">
  <div class="row">
    <div class="col-sm-12">
      <h1>Drink a beer</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="addBeer(form)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>
          <input type="text" name="name" class="form-control" ng-model="user.beers.add.name" required autofocus/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">A name is required</p>
        </div>

        <div class="form-group">
          <label>Latitude</label>
          <input type="text" name="location" class="form-control" value="{{myLocation.lat}}" disabled />
        </div>

        <div class="form-group">
          <label>Longitude</label>
          <input type="text" name="location" class="form-control" value="{{myLocation.lng}}" disabled />
        </div>

        <div class="form-group">
          <label>Upload picture</label>
          <input type="file" accept="image/*" image="image" />
          <img ng-show="image" ng-src="{{image.resized.dataURL}}" />
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Drink the motherfucking beer</button>

        <p class="help-block"> {{ message }} </p>
      </form>
    </div>
  </div>
</div>

<div ng-include="'partials/footer'"></div>